POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=factory_historian

INGESTION_API_TOKEN=demo-token

HISTORIAN_GRPC_TARGET=historian-service:50051
ALARM_GRPC_TARGET=alarm-service:50052
INGESTION_URL=http://ingestion-service:8000/ingest/external

HISTORIAN_METRICS_PORT=9101
ALARM_METRICS_PORT=9102

POSTGRES_PORT=5432
INGESTION_PORT=8000
HISTORIAN_GRPC_PORT=50051
ALARM_GRPC_PORT=50052
PROMETHEUS_PORT=9090

SIMULATION_DURATION_SECONDS=60
SIMULATION_SEED=123